.env
.env.local
.env.*.local
node_modules/
/server/node_modules/
/client/node_modules/
/server/npm-debug.log*
/client/npm-debug.log*
build/
/server/build/
/client/build/
dist/
.DS_Store
.vscode/
.idea/
coverage/
logs/
*.log
secrets/
/.history/# node & builds
node_modules/
client/node_modules/
server/node_modules/
client/build/
server/dist/
*.log
.env
.env.local
server/.env
.DS_Store
.vscode/
.idea/
